h1 {
    font-size: 50px;
    margin: 50px auto 20px auto;
    text-align: center;
}
.head{
    
}
nav {
    margin: auto;
    text-align: center;
}
nav a {
    width: 70px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    background-color: #CCD1D1;
    border-radius: 4px;
}
nav a.active {
    color: #CCD1D1;
    background-color: #85144b;
}
nav a.record {
    margin: 20px auto 20px auto;
    font-size: 25px;
    width: 170px;
}
